.site-header {
    background-image: url('../../imgs/header.png');
    background-size: cover;
    background-position: center;
    height: 400px;              
    display: flex;
    align-items: center;        
    color: #fff;
    justify-content: center;
}
.nav-link {
    font-size: 1.2rem;
}

.site-header .navbar {
    width: 100%;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}
.nav-link:hover {
    color: #2877c7 !important; 
}

header {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200 !important;
    letter-spacing: 4px;
}
  
section {
    margin: 80px 90px;
    padding: auto;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
    letter-spacing: 2px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 80px 90px;
    flex-wrap: wrap;
    gap: 40px;

}

#contact-us {
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 26px;
    font-size: 50px !important;
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 6px;
    font-weight: 700 !important;  
    color:#174572;
}

#summary {
    font-size: 20px !important;
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 2px;
    font-weight: 300 !important;
    margin-bottom: 80px;
}

.form-control {
    border-radius: 10px !important;
    border-color: grey;
    padding: 10px;
    margin-top: 5px;
}

.form-label {
    font-weight: 500 !important;
    margin-top: 3px;
    font-size: 1.15rem;
}

#name {
    height: 50px;
}

#email {
    height: 50px;
}

#message {
    height: 190px;
    padding: 17px;
}
#button {
    border-radius: 10px !important;
    background-color: #174572 !important;  
    border-style: none;
    color: white;
    padding: 15px;
    box-shadow: none;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

#button:hover {
    background-color: #272727 !important; 
    color: white;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap; 
  }
  
.contact-text {
    flex: 1;
    min-width: 300px;
    max-width: 40%;
  }
  
form {
    flex: 1;
    min-width: 300px;
    max-width: 50%;
  }

#email-icon {
    height: 33px;
    width: 43px;
  }

#phone-icon {
    height: 36px;
    width: 36px;
    margin-left: 3px;
  }

#address-icon {
    height: 31px;
    width: 31px;
    margin-left: 4px;
}

#email-contact {
    font-size: 20px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 300 !important;
    margin-top: 60px;

}

#phone-contact {
    font-size: 20px;
    font-family: "Montserrat", sans-serif !important;
    margin-top: 60px;
    font-weight: 300 !important;

}

#address {
    font-size: 20px;
    font-family: "Montserrat", sans-serif !important;
    margin-top: 60px;
    font-weight: 300 !important;
    display: flex;
    align-items: flex-start;
    gap: 8px; /* space between icon and text */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1.6;

}
  
.address-label {
    font-weight: 300;
    margin-right: 5px;
}
  
.address-lines {
    display: inline-block;
}

  
.email-label {
    font-weight: 300;
    margin-right: 5px;
}


#email-contact {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  
.email-lines {
    display: flex;
    flex-direction: column;
}

#hours {
    font-size: 15px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500 !important;
    margin-top: 80px;
    margin-left: 25px;
    color:#174572;
}

@media (max-width: 768px) {
    /* only apply these when the screen is small */
    .site-header {
        height: 170px;
        width: auto;
        background-position: center;
    }

    #logo {
        height: 80px;
        width: auto;
        margin-top: 30px;
    }

    #title {
        font-size: 1.5rem;
        margin-top: 60px;
    }

    .nav-link {
        font-size: 0.6rem;
        font-weight: 400 !important;
    }
 
    .item, .item-press {
        max-width: 90% !important;
        margin: 10px auto !important;
    }
 
    #main-head {
        font-size: 18px;
    }

}