.site-header {
    background-image: url('header.png');
    background-size: cover;
    background-position: center;
    height: 400px;              
    display: flex;
    align-items: center;        
    color: #fff;
    justify-content: center;
}

#logo {
    height: 190px;
    width: auto;
}

#title {
    font-size: 2.8rem;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 4px;
}

.nav-link {
    font-size: 1.2rem;
}

.site-header .navbar {
    width: 100%;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}
.nav-link:hover {
    color: #2877c7 !important; 
}

header {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200 !important;
    letter-spacing: 4px;
}

.site-footer {
    margin-top: auto; 
    position: sticky;
}

.coming-soon {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
    font-size: 80px;
    color: #174572;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    letter-spacing: 4px;
}

.contact {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200 !important;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 40px 180px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}


#quote {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: solid #174572;
    background-color: #174572;
    color: white;
    letter-spacing: 2px;
    padding: 10px 5px;
    font-size: 13px;
    font-weight: 300 !important;
    text-align: center;
    margin: 25px auto;
    margin-bottom: 200px;       /* auto left/right centers it */
    text-decoration: none;
    
}

#quote:hover {
    text-decoration: none !important;
    background-color: white;
    border: 1px solid #174572;
    color: #174572;
    font-weight: 500 !important;
}

@media (max-width: 768px) {
    /* only apply these when the screen is small */
    .site-header {
        height: 220px;
        width: auto;
        background-position: center;
    }

    #logo {
        height: 80px;
        width: auto;
        margin-top: 30px;
    }

    #title {
        font-size: 1.5rem;
        margin-top: 40px;
    }

    .nav-link {
        font-size: 0.8rem;
        font-weight: 400 !important;
    }
 
    .item, .item-press {
        max-width: 90% !important;
        margin: 10px auto !important;
    }
 
    #main-head {
        font-size: 18px;
    }

    .coming-soon {
        font-size: 40px;
        margin-top: 40px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact {
        font-size: 16px;
        margin: 20px 30px;
        text-align: center;
    }

}