.site-header {
    background-image: url('../../imgs/header.png');
    background-size: cover;
    background-position: center;
    height: 400px;              
    display: flex;
    align-items: center;        
    color: #fff;
    justify-content: center;
}

#logo {
    height: 190px;
    width: auto;
}

#title {
    font-size: 2.8rem;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 4px;
}

.nav-link {
    font-size: 1.2rem;
}

.site-header .navbar {
    width: 100%;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}
.nav-link:hover {
    color: #2877c7 !important; 
}

header {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200 !important;
    letter-spacing: 4px;
}

.products {
    margin-top: 100px;
    font-size: 50px !important;
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 4px;
    font-weight: 700 !important;
    color:#174572;
    display: flex;
    justify-content: center;
}

hr {
    border: none !important;
    border-top: 3px solid #174572 !important;
    width: 80% !important;
    margin: 20px auto !important;
    border-radius: 3px !important;
  }
  

.table-container {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200 !important;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 3px;
}

.table {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 300 !important;
    font-size: 15px;
    letter-spacing: 2px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 30px;
}

.service-img {
    border-radius: 10px;
    height: 400px;
    width: 500px;
    object-fit: cover;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
#dad {
    height: 500px;
    width: auto;
    border-radius: 10px;
    margin: 45px;
    margin-top: 100px !important;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif !important;
    font-size: 50px !important;
    letter-spacing: 4px;
    color:#174572;
    font-weight: 700 !important;
    margin-top: 90px;
}

@media (max-width: 768px) {
    /* only apply these when the screen is small */
    .site-header {
        height: 220px;
        width: auto;
        background-position: center;
    }

    #logo {
        height: 80px;
        width: auto;
        margin-top: 30px;
    }

    #title {
        font-size: 1.5rem;
        margin-top: 60px;
    }

    .nav-link {
        font-size: 0.8rem;
        font-weight: 400 !important;
    }
 
    .item, .item-press {
        max-width: 90% !important;
        margin: 10px auto !important;
    }
 
    #main-head {
        font-size: 18px;
    }

    .products {
        margin-top: 30px !important;
    }

    .service-img {
        height: 90%;
        width: 90%;
        margin-top: 10px;
    }

    #dad {
        height: auto;
        width: 90%;
        margin-top: 10px !important;
    }

}