.site-header {
    background-image: url('../../imgs/header.png');
    background-size: cover;
    background-position: center;
    height: 400px;              
    display: flex;
    align-items: center;        
    color: #fff;
    justify-content: center;
}

#logo {
    height: 190px;
    width: auto;
}

#title {
    font-size: 2.8rem;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 4px;
}

.nav-link {
    font-size: 1.2rem;
}

.site-header .navbar {
    width: 100%;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}
.nav-link:hover {
    color: #2877c7 !important; 
}

header {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200 !important;
    letter-spacing: 4px;
}

#services h2 {
    margin-top: 100px;
    font-size: 50px !important;
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 4px;
    font-weight: 700 !important;
    color:#174572;
}

.service-img {
    border-radius: 10px;
    height: 600px;
    width: 400px;
    object-fit: cover;
    margin-top: 60px;
}

.item {
    font-size: 20px !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
    letter-spacing: 3px;
    box-sizing: border-box;
    max-width: 60%;
    padding: 20px 2px;
    margin: 30px auto;
    border: solid grey;
    border-radius: 13px;
    background-color: grey;
    color: white;
    text-align: center;
}

.folding {
    font-size: 20px !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
    letter-spacing: 3px;
    box-sizing: border-box;
    max-width: 30%;
    padding: 20px 2px;
    margin: 30px auto;
    border: solid grey;
    border-radius: 13px;
    background-color: grey;
    color: white;
    text-align: center;
}

#detail {
    font-size: 17.5px !important;
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 2px;
    margin: 70px;
    font-weight: 500 !important;
}

#offer {
    font-size: 20px !important;
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 2px;
    margin: 70px;
    font-weight: 300 !important;
}

#product {
    text-decoration: none;
    color: #2877c7 !important;
}

#product:hover {
    color: #ff0000 !important;
}


@media (max-width: 768px) {
    /* only apply these when the screen is small */
    .site-header {
        height: 190px;
        width: auto;
        background-position: center;
    }

    #logo {
        height: 80px;
        width: auto;
        margin-top: 30px;
    }

    #title {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .nav-link {
        font-size: 0.6rem;
        font-weight: 400 !important;
    }
 
    #main-head {
        font-size: 18px;
    }

    #services {
        font-size: 23px !important;
    }

    #offer {
        font-size: 18px !important;
        margin: 10px !important;
    }

        /* Fix spacing between cards */
    .container {
        margin-bottom: 40px; /* adds space between each row section */
    }

    .item, .folding {
        font-size: 14px !important;
        max-width: 90% !important;
        margin: 20px auto !important;
        padding: 12px !important;
    }

    .service-img {
        height: 100% !important;
        width: 80% !important;
        margin: 15px auto !important;
        display: block;
    }
    



}